<!doctype html>
<html>
<head>
  <% include ../partials/head %>
<head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="col-sm-6">
  <h2>About</h2>
  <p> Git Featured is a places to share cool GitHub projects. Submit a project on the contact page and if I think it's awesome, I will feature it. </p>
  </div>
</body>
</html>
