<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="col-sm-12">
    <h2>Featured Project</h3>
    <h3>Title</h3>
    <p>TutHub</p>
    <h3>Created By</h3>
      <p>Brian Macheski</p>
    <h3>Description</h3>
      <p><a href="https://github.com/bmacheski/tuthub">Tuthub</a> is an app to share tutorials and code related resources. The creator is awesome.</p>
  </div>
</body>
</html>
